/* Reset default browser styles */
body, h1, h2, p, input, button {
    margin: 0;
    padding: 0;
}
.navlogo{
    width: 150px;
    float: left;
    margin-bottom: 750px;
    margin-left: -490px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    border-radius: 50px ;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    width: 350px;
    text-align: left;
    border: 1px solid;
    /* border: 100px; */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 10px;
}

button {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 75%;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
   margin-left:40px;
}
.up{
    margin-bottom: 10px;
}
p{
    text-align: center;
    padding-top: 30px;
}
button:hover {
    background-color: #1ab79d;
    transition: .04s;
}
.google{
    border: 1px solid;
    border-radius: 100px;
    text-align: center;
    padding: 10px 10px;
    background-color: #1ab79d ;
    color: white;
}
.google:hover{
    background-color: #000000;
    transition: 0.5s;
}
.outlook{
    border: 1px solid;
    border-radius: 100px;
    /* text-shadow: 100px; */
    text-align: center;
    padding: 10px 10px;
    
}
.span{
    background-color: #1ab79d;
}
.outlook:hover{
    background-color: #1ab79d;
    transition: 0.5 s;
}
/* Responsive styles */
@media screen and (max-width: 768px) {
    .login-container {
        width: 90%;
    }
}
